.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  min-width: 640px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #003261;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action-list {
  display: flex;
  flex: 3;
  min-width: 600px;
}

.example-email {
  display: flex;
  flex: 2;
  min-width: 600px;
  padding: 16px;
  background-color: #001529;
}

.footer {
  margin-top: 32px;
  margin-bottom: 32px;
}

.side-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-states {
  flex: 2;
  margin-right: 32px;
}

.show-reps {
  flex: 3;
}

.label {
  color: white;
  font-size: 20px;
}

.state-select {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  margin-top: 8px;
}

.select-states:hover {
  cursor: pointer;
}

.next-container {
  display: flex;
  margin-top: 16px;
  justify-content: flex-end;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 85vh;
}

.preview-header {
  display: flex;
  background-color: #1890ff;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 16px 16px;
}

.email-to {
  display: flex;
  flex-direction: row;
  padding: 16px 16px 16px 16px;
}

.email-subject {
  display: flex;
  flex-direction: row;
  padding: 16px 16px 16px 16px;
}

.email-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 16px 16px 16px 16px;
  overflow-y: scroll;
}

.email-label {
  font-size: 16px;
  color: white;
  margin-right: 16px;
  white-space:pre-wrap;
}

.text-input {
  flex: 1;
  background-color: transparent;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: white;
  color: white;
}

#icon {
  font-size: xx-large;
  padding-right: 2%;
}