body {
    font-family: 'Work Sans', 'arial black', arial, sans-serif,
      'Arial', sans-serif;
    padding: 20px 20px 60px;
    max-width: auto;
    margin: 0 auto;
    /* background-attachment: fixed; */

    transition: background-color .5s ease;
    background: linear-gradient(-45deg, #003261, pink, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    line-height: 150%;
  
}

b
{
  font-weight: 800;
  color: pink;
}

p
{
  font-size: 16px;
  text-indent: 30px;
  text-align: justify;
  color:white
}

#container
		{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.head {
  padding: 20px 20px 60px;
  text-align: left;
}

ol {
	font-size: 24px;
	font-weight: 800;
	color: pink;
	list-style: none;
	list-style-position: outside;
	counter-reset: counter1;
}
ol li {
	counter-increment: counter1;
	margin-top: 16px;
	font-weight: 400;
}

ol li::before {
	content: counter(counter1)"";
	font-weight: 600;
	color: #003261;
	background-color: pink;
	text-align: center;
	border-radius: 1em;
	display: inline-block;
	height: 36px;
	width: 36px;
	margin-right: 25px;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}